body {
  background: #888;
  color: #eee;
  font-family: sans-serif;
}



#push-display-canvas {
  border: 3px solid #444;
  background: #000;
}


.matrix {
  width: calc(64px * 8);
  margin: 0 auto;

}

.matrix-button {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 60px;
  height: 40px;
  float: left;
  margin: 2px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2)
}

.matrix-button--off {
  background: #888;
}
.matrix-button--red {
  background: #800;
}
.matrix-button--light-red {
  background: #f44;
}
.matrix-button--green {
  background: #080;
}
.matrix-button--light-green {
  background: #0F0;
}
.matrix-button--blue {
  background: #008;
}
.matrix-button--light-blue {
  background: #88F;
}
.matrix-button--yellow {
  background: #FF0;
}
.matrix-button--orange {
  background: #F80;
}
.matrix-button--cyan {
  background: #088;
}
.matrix-button--light-cyan {
  background: #4FF;
}
.matrix-button--pink {
  background: #808;
}
.matrix-button--light-pink {
  background: #F4F;
}
.matrix-button--white {
  background: #fff;
}
.matrix-button--light-grey {
  background: #ddd;
}
.matrix-button--grey {
  background: #888;
}
.matrix-button--dark-grey {
  background: #444;
}
.channel-name {
  display: inline-block;
  width: 2em;
}

/* clearfix hack */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.settings {
  position: absolute;
  top: 5%; left: 5%;
  width: 90vw;
  height: 90vh;
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}

.settings h2, .settings h3 {
  border-bottom: 1px solid black;
  color: #111;
}
